@media(max-width: 1679px) {
	.wrapper {
		padding-left: 175px;
		padding-right: 175px;
	}
}

@media(max-width: 1365px) {
	.wrapper {
		padding-left: 75px;
		padding-right: 75px;
    }
    
    .swiper-slide .text {
        left: 0;
        text-align: center;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .swiper-slide .slide-title {
        text-align: center;
    }

    .about-top-box {
        width: 100%;
    }

    .googleMap {
        height: 300px;
    }
}

@media(max-width: 1024px) {
    .swiper-container {
        height: 600px;
    }

    .swiper-slide .text {
        transform: translateY(-50%);
    }

    .about {
        display: block;
    }

    .about-top-box {
        display: none;
    }

    .about .about-image {
        width: 100%;
        border: none;
    }

    .about .about-info {
        width: 100%;
        border-left: 6px solid rgba(0, 0, 0, 0.1);
        border-top: none;
    }

    .food-box {
        width: 48%;
        margin-bottom: 2rem;
    }
    
    .parallax-window {
        height: 500px;
    }

    .contact {
        display: block;
    }

    .contact .contact-info {
        width: 100%;
        margin-bottom: 2rem;
    }

    .contact .main-map {
        width: 100%;
    }

    .menu-page-list .menu-page-item {
        width: 100%;
        margin-right: 0;
    }

    .img01 {
        width: 80%;
    }

    .photo-gallery .card {
        width: 48%;
        margin-right: 4%;
        margin-bottom: 4%;
    }

    .photo-gallery .card:nth-child(4n) {
        margin-right: 4%;
    }

    .photo-gallery .card:nth-child(2n) {
        margin-right: 0;
    }
}

@media(max-width: 768px) {
    .wrapper {
		padding-left: 25px;
		padding-right: 25px;
    }
    .sec-title {
        font-size: 21px;
        width: auto;
    }

    .about-info .about-subtitle {
        font-size: 14px;
    }

    .about-info .about-text {
        font-size: 14px;
    }

    .sec-title:before {
        display: none;
    }

    .sec-title:after {
        display: none;
    }

    .sec-title-white:before {
        display: none;
    }

    .sec-title-white:after {
        display: none;
    }
    
    ul.nav {
        display: none;
    }

    .header .burger-menu {
        display: block;
    }

    .header-fixed .burger-menu {
        display: block; 
    }

    .menu-slider {
        overflow: hidden;
    }

    .menu-slider .swiper-button-prev {
        left: 10px;
    }
    
    .menu-slider .swiper-button-next {
        right: 10px;
    }

    .food-box {
        width: 100%;
    }

    .food-box:last-child {
        margin-bottom: 0;
    }

    .parallax-window {
        height: 300px;
    }

    .swiper-container {
        height: 500px;
    }

    .photo-gallery .card {
        width: 100%;
        margin-right: 0;
        margin-bottom: 6%;
    }

    .photo-gallery .card:nth-child(4n) {
        margin-right: 4%;
    }

    .photo-gallery .card:nth-child(2n) {
        margin-right: 0;
    }
}

@media(max-width: 580px) {
    .menu-page-list .menu-page-item {
        display: block;
        text-align: center;
    }

    .menu-page-list .menu-page-item .menu-page-image {
        width: 100%;
        margin-right: 0;
        display: block;
    }

    .menu-page-list .menu-page-item .menu-page-image img {
        width: 120px;
    }

    .menu-title-border {
        display: none;
    }

    .br-class {
        display: block;
        margin-bottom: 1rem;
    }

    .menu-page-price {
        position: relative;
        top: 8px;
    }

    .outdoor-title {
        font-size: 2rem;
    }

    .parallax-contact,
    .parallax-restaurant,
    .parallax-menu {
        min-height: 400px;
    }

    .btn {
        width: 100%;
        margin-bottom: .6rem;
    }

    .swiper-container {
        height: 400px;
    }

    .about-image .about-image-title {
        padding: 1rem;
        
    }

    div.about-info {
        padding: 2rem 1rem;
    }

    div.about-info .about-text {
        line-height: 1.8rem;
    }
}