@import './pre.css';

body {
	overflow-x: hidden;
}

.caps {
	font-family: 'mrgvlovani-caps', sans-serif;
}

.sec-title {
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	font-family: 'mrgvlovani-caps', sans-serif;
	color: #533834;
	position: relative;
	width: max-content;
	margin: auto;
}

.sec-title:before {
	content: "";
	position: absolute;
	top: 46%;
	transform: translateY(-50%);
	left: -50px;
	display: block;
	width: 40px;
	height: 2px;
	background: #533834;
}

.sec-title:after {
	content: "";
	position: absolute;
	top: 46%;
	transform: translateY(-50%);
	right: -50px;
	display: block;
	width: 40px;
	height: 2px;
	background: #533834;
}

.sec-title-white {
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	font-family: 'mrgvlovani-caps', sans-serif;
	color: #fff;
	position: relative;
	width: max-content;
	margin: auto;
}

.sec-title-white:before {
	content: "";
	position: absolute;
	top: 46%;
	transform: translateY(-50%);
	left: -50px;
	display: block;
	width: 40px;
	height: 2px;
	background: white;
}

.sec-title-white:after {
	content: "";
	position: absolute;
	top: 46%;
	transform: translateY(-50%);
	right: -50px;
	display: block;
	width: 40px;
	height: 2px;
	background: white;
}

.sec-p {
	padding-top: 80px;
	padding-bottom: 80px;
}

/****
*****
*****
Header stylesheet 
*****
*****
****/

header {
	height: 84px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	background: transparent;
	transition: all 600ms;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: transparent;
	/*transform: translateY(-64px);*/
}


ul.nav {
	display: flex;
	list-style: none;
	height: 100%;
	align-items: center;
}
ul.nav .nav-item {
	margin-right: 2rem;
	position: relative;
	height: 100%;
    display: flex;
    align-items: center;
}

ul.nav .nav-item:last-child {
	margin-right: 0;
}

ul.nav .nav-link {
	color: #eee;
	font-weight: bold;
	transition: all 400ms;
	cursor: pointer;
}

ul.nav .nav-link:hover {
	color: #aea512;
}
a.nav-link.active {
	color: #aea512;
}
.header-fixed ul.nav .nav-link {
	color: #333;
}

.header-fixed ul.nav .nav-link:hover {
	color:  #aea512;
}

.header-translate {
	transform: translateY(-64px);
}

.header .burger-menu {
	width: 36px;
    cursor: pointer;
	fill: #fff;
	display: none;
}

.header-fixed .burger-menu {
	fill: #222;
	width: 36px;
	cursor: pointer;
	display: none;
}

.header-fixed {
	position: fixed;
	width: 100%;
	height: 64px;
	top: 0;
	left: 0;
	z-index: 10;
	background: #fff;
	transform: translateY(0px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.d-block {
	display: block;
}

ul.nav .nav-item:hover .drop-down {
	opacity: 1;
	transform: translateY(0);
}

.drop-down {
	position: absolute;
	background: #EEE;
	padding: 1rem;
	border: 1px solid #ccc;
	top: 100%;
	width: 200px;
	opacity: 0;
	transform: translateY(-20px);
	box-shadow: 1px 1px 3px #ccc;
	transition-property: all;
	transition-duration: 200ms;
}

.drop-down .drop-down-item {
	padding-bottom: .5rem;
}

.drop-down .drop-down-link {
	color: #333;
	font-weight: bold;
	transition: all 400ms;
	color: #333;
}

.drop-down .drop-down-link:hover {
	color: #ddd;
}

.mobile-nav {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	top: 0;
	left: 0;
	z-index: 200;
	transform: translateX(100%);
	transition: all 200ms;
}

.mobile-nav-header {
	position: relative;
	height: 66px;
	padding: 1rem 0;
	border-bottom: 1px solid #eee;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.mobile-nav-header .close-menu {
	width: 32px;
	height: 32px;
	cursor: pointer;
	text-align: right;
	position: absolute;
	right: 1rem;
}

.mobile-nav-header .close-menu svg {
	width: 100%;
	height: 100%;
}

.mobile-nav-list {
	text-align: center;
	margin-top: 2rem;
	padding-top: 1rem;
}

.mobile-nav-list .mobile-nav-item {
	padding-bottom: 16px;
}

.mobile-nav-list .mobile-nav-link {
	color: #aea512;
	font-size: 21px;
}

.mobile-nav-show {
	transform: translateX(0);
}

.drop-mobile {
	height: 0;
	overflow: hidden;
}

.drop-mobile-link {
	color: #555;
}

.drop-mobile-show {
	padding-top: 1rem;
	height: auto;
	
}

/*
*****
*****
Swiper stylesheet 
*****
*****
*/

.main-slider {
	height: 700px;
	width: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	position: relative;
}


.swiper-pagination .swiper-pagination-bullet {
	width: 13px;
	height: 13px;
	background: #fff;
}

.swiper-slide .text {
	position: absolute;
	top: 50%;
	left: 20%;
	color: #fff;	
}

.main-swiper-slide img {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
}

.swiper-slide .slide-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(151, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
}

.slide-title {
	text-align: left;
	opacity: 0;
	transform: translateX(40px);
	transition: all 1.4s;
	transition-delay: 1.2s;
	color: #aea512;
}



.slide-title-two {
	transform: translateY(-40px);
	transition: all 1s;
	transition-delay: 1s;
}



.slide-subtitle {
	opacity: 0;
	transform: translateX(80px);
	transition: all 1.4s;
	transition-delay: 1.6s;
	/* color: red; */
}

.sub-one {
	transform: translateX(80px);
	transition: all 1.4s;
	transition-delay: 1.6s;
}

.sub-two {
	transform: translateY(20px);
	transition: all 0.6s;
	transition-delay: 1.2s;
}

.sub-three {
	transform: translateX(-80px);
	transition: all 1.4s;
	transition-delay: 1.6s;
}

.active {
	opacity: 1;
	transform: translateX(0);
	transform: translateY(0);
}

/****
*****
*****
About stylesheet 
*****
*****
****/

.about-sec {
	padding-top: 80px;
	padding-bottom: 80px;
}

.about {
	display: flex;
	width: 100%;
}

.about-top-box {
	background: #aea512;
	width: 35%;
	padding: 3rem;
}

.about .about-image {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%) #938372;
	background-image: url('https://demo.cmssuperheroes.com/themeforest/wp-gaucho/wp-content/uploads/2015/11/dish-6.png');
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-position-x: right;
	color: #fff;
	width: 35%;
	padding: 1rem;
	border: 6px solid rgba(0, 0, 0, 0.1);
	border-right: none;
}

.about-image .about-image-title {
	padding: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 18px;
}

div.about-info {
	width: 65%;
	text-align: center;
	border: 6px solid rgba(0, 0, 0, 0.1);
	border-left: 0;
	padding: 3rem;
	background: #eee;
}

div.about-info .about-subtitle {
	color: #aea512;
	font-size: 16px;
	font-weight: normal;
}

div.about-info .about-text {
	line-height: 2rem;
	color: #999;
	margin-bottom: 2rem;
}

.button-container .btn {
	min-height: 45px;
    padding: 0 25px;
    line-height: 45px;
	font-size: 18px;
	background: #aea512;
	display: inline-block;
	color: #fff;
	font-size: 14px;
}

.button-container .btn-default {
	background: #938372;
}

/****
*****
*****
Menu stylesheet 
*****
*****
****/

.menu-sec {
	background: url('https://demo.cmssuperheroes.com/themeforest/wp-gaucho/wp-content/uploads/2015/11/bg-1.jpg');
	padding: 120px 0;
}

/* .menu-slider {
	overflow: hidden;
} */

.menu-box {
	width: 100%;
	cursor: pointer;
	transition: all 1000ms;
	height: 100%;
	border: 6px solid rgba(0, 0, 0, 0.1);
}

.menu-box .menu-image {
	width: 100%;
	overflow: hidden;
	background: #fff;
}

.menu-box .menu-image img {
	width: 100%;
	display: block;
	transition: all 400ms;
}

.menu-box .menu-title {
	background: #aea512;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	position: relative;
	z-index: 2;
}

.menu-box .menu-paragraph {
	background: #fff;
	font-size: 14px;
	padding: 16px;
	position: relative;
	z-index: 2;
}

.menu-box:hover .menu-image img {
	transform: scale(1.05);
}
.menu-box:hover .overlay {
	background: rgba(210, 200, 42, 0.5);
}

.menu-box:hover .overlay .expand-icon {
	opacity: 1;
	transform: translateY(0);
}

.overlay {
	width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
	top: 0;
	z-index: 1;
	transition: all 400ms;
	display: flex;
	align-items: center;
	justify-content: center;
}

.overlay .expand-icon {
	width: 30px;
	fill: white;
	opacity: 0;
	transform: translateY(20px);
	transition: all 400ms;
} 

.menu-slide-button {
	position: absolute;
	top: 50%;
	cursor: pointer;
}

.menu-slider .swiper-button-prev,
.menu-slider .swiper-button-next {
	color: white;
}

.menu-slider .swiper-button-prev {
	left: -40px;
}

.menu-slider .swiper-button-next {
	right: -40px;
}

.active-menu {
	opacity: 1;
	visibility: visible;
}

.br-class {
	display: none;
}


/****
*****
*****
Food stylesheet 
*****
*****
****/

.food-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.food-box {
	width: 23%;
	text-align: center;
	/* margin-right: 20px; */
}

.food-box-title {
	color: #aea512;
	font-weight: normal;
	margin-bottom: .5rem;
}

.food-box-text {
	font-size: 14px;
	padding-bottom: 1rem;
}


/*****
******
******
Parallax stylesheet
******
******
*****/

.parallax {
	background-image: url('https://themegoods-cdn-pzbycso8wng.stackpathdns.com/capella/demo/wp-content/uploads/2014/05/photodune-5087439-chicken-tagine-m.jpg');
	padding: 275px 0;
	background-attachment: fixed;
}

.outdoor-title {
	font-size: 3rem;
	font-weight: normal;
	text-align: center;
	color: white;
	position: relative;
	z-index: 2;
	font-weight: normal;
	
}


.parallax-window {
	min-height: 600px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.parallax-contact,
.parallax-restaurant,
.parallax-menu {
	min-height: 500px;
}

/*****
******
******
Contact stylesheet
******
******
*****/

.contact {
	display: flex;
}

.contact-title {
	padding-bottom: 16px;
	color: #533834;
}

.contact-info {
	width: 40%;
}

.main-map {
	width: 60%;
}

.googleMap {
	height: 400px;
}

.contact-item {
	padding-bottom: .5rem;
}

.contact-item-icon {
	width: 20px;
	display: inline-block;
}

.contact-item-text {
	position: relative;
	top: -5px;
}

.social-box {
	display: flex;
}

.social-box .social-link {
	display: flex;
	align-items: center;
	margin-right: 1rem;
	color: #777;
}

.social-box .social-link i {
	width: 100%;
	height: 100%;
}


/******
******
******
Footer stylesheet
******
******
******/

.footer {
	height: 84px;
	background: #222;
	display: flex;
	justify-content: center;
	align-items: center;
}














.parallax-box {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}













.modal {
	width: 100%;
	height: 100vh;
	background:rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 12;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
}

.close-modal {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}


.close-modal svg {
	width: 100%;
	height: 100%;
}

.image-modal-show {
	opacity: 1;
	visibility: visible;
}
.img01-container {
	width: 44%;
}

.img01 {
	width: 100%;
	transform: scale(0);
	transition: all 400ms;
}

.img01-show {
	transform: scale(1);
}

.menu-page-list {
	display: flex;
	flex-wrap: wrap;
}

.menu-page-list .menu-page-item {
	width: 46%;
	/* border: 1px solid #ccc; */
	display: flex;
	align-items: center;
	margin-right: 8%;
	margin-bottom: 3rem;
}

.menu-page-list .menu-page-item:nth-child(2n) {
	margin-right: 0;
}

.food-box-image {
	width: 100%;
	margin-bottom: .7rem;
}

.food-box-image img {
	border-radius: 50%;
	box-shadow: 1px 1px 4px 3px #ccc;
}


.menu-page-list .menu-page-item .menu-page-image {
	width: 80px;
	margin-right: 1rem;
	display: flex;
	align-items: center;
	border-radius: 50%;
}

.menu-page-list .menu-page-item .menu-page-image img {
	width: 100%;
	border-radius: 50%;
	box-shadow: 1px 1px 4px 3px #ccc;
}

.menu-page-list .menu-page-item .menu-page-info {
	width: 100%;
    display: flex;
	justify-content: space-between;
	position: relative;
}

.menu-page-list .menu-page-item .menu-page-info:before {
	content: '';
	position: absolute;
	top: 32%;
	background: transparent;
	width: 100%;
	height: 1px;
	border-bottom: 1px dotted #ccc;
}


.menu-page-list .menu-page-item .menu-page-info .menu-page-title {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: .8rem;
	background: white;
	padding: 0 8px;
}

.menu-page-list .menu-page-item .menu-page-info .menu-page-text {
	font-size: 14px;
	color: #938372;
}

.menu-title-border {
	width: 100px;
	border-bottom: 1px dotted #ccc;
	display: inline-block;
    position: relative;
    top: -5px;
}

ul.pagination-list {
	display: flex;
	justify-content: center;
	width: 100%;
}

.pagination-list .pagination-item {
	width: 14px;
	height: 14px;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin-right: 1rem;
	cursor: pointer;
	background: #eee;
}

.pagination-list .pagination-item.active {
	box-shadow: 0 0 0 3px #d2c82a;
	background: #fff;
}

.photo-gallery {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -2.66%;
}

.photo-gallery .card {
	width: 32%;
	margin-right: 2%;
	margin-bottom: 2%;
	position: relative;
	box-shadow: 0 1px 2px 2px #ccc;
}

.photo-gallery .card:nth-child(3n) {
	margin-right: 0;
}
.photo-gallery .card img {
	width: 100%;
	height: 100%;
	/* display: block; */
	object-fit: cover;
}

.photo-gallery .card .overlay {
	width: 100%;
	height: 100%;
	background: rgba(210, 200, 42, 0.5);
	opacity: 0;
	cursor: pointer;
}

.photo-gallery .card:hover .overlay {
	opacity: 1;
}

.photo-gallery .card:hover .expand-icon {
	transform: translateY(0);
	opacity: 1;
}

.contact-container {
	display: flex;
}

.contact-container .contact-box {
	width: 50%;
}